<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Zarządzanie Fakturami</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-black mb-5">

        <div class="container">
            <div class="container-fluid d-flex flex-row">
                <div class="p-2">
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">Strona Główna</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navba r-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse p-2" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item active">
                            @Html.ActionLink("Produkty", "Index", "Product", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item active">
                            @Html.ActionLink("O mnie", "About", "Home", null, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item active">
                            @Html.ActionLink("Kontakt", "Contact", "Home", null, new { @class = "nav-link" })
                        </li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Zarządzanie Fakturami</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    <div class="privacyPoliceInfo" style="display: none">
        Witryna wykorzystuje pliki cookies. Korzystając z witryny wyrażasz zgodę na ich stosowanie.

        <button class="btn btn-light btn-sm mx-3 my-1 privacyPoliceBtn" type="button" onclick="closePrivacyPolice()">
            Ok, rozumiem
        </button>

    </div>

    <script>
        function closePrivacyPolice() {
            $('.privacyPoliceInfo').css("display", "none");
            $.cookie("privacyPolicy", "1", { path: '/', expires: 365 });
        }

        $(document).ready(function () {
            if ($.cookie("privacyPolicy") !== "1")
                $('.privacyPoliceInfo').css("display", "")
        });
    </script>

    @RenderSection("scripts", required: false)



</body>
</html>
